{% extends 'base.html.twig' %}

{% block contenido %}
    <ul>
    {% for producto in productos %}
        <dl>
            <dt><a href="{{  path('detalles', {'producto':producto.getId()}) }}">{{producto.getNombre() }}</a></dt>
            <dd>{{producto.getPrecio() }}€</dd>
            <dd>{{producto.getDescripcion() }}</dd>
        </dl>
        {% endfor %}    
    </ul>
    {% endblock %}    
